.top_bar {
    position: relative;
    height: 50px;
    margin: 2px 2px;
}

a {
    position: absolute;
    top: 17px;
    right: 15px;
    font-family: Arial, sans-serif;
}

img {
    height: 92px;
    width: 272px;
    position: absolute;
    object-fit: none;
    right: 0;
}

#search_container {
    text-align: center;
    padding: 190px 0;
}

#image_container {
    position: relative;
    width: 280px;
    height: 100px;
    left: auto;
    margin-bottom: 15px;
}

.form_horizontal {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.form_buttons {
    padding: 30px 0;
}

#form_input {
    border-radius: 24px;
    width: 584px;
    height: 47px;
    border: 1px solid #dfe1e5;
    box-sizing: border-box;
    outline: none;
    padding: 12px 20px 12px 40px;
    font-size: 16px;
    font-family: Arial;
}

%form_effects {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#form_input:hover {
    @extend %form_effects;
}

#form_input:focus {
    @extend %form_effects;
}

%front_page_buttons {
    background-color: #f6f6f6;
    border-style: none;
    padding: 5px 13px;
    font-family: sans-serif;
    color: #3c3c3c;
    font-size: 15px;
}

.google_search {
    @extend %front_page_buttons;
    margin-right: 4px;
}

.feeling_lucky {
    @extend %front_page_buttons;
    margin-left: 4px;
}
